#{errors.select{|x| x[:successes] == 0}.size} Unresolved Errors
#{errors.select{|x| x[:successes] > 0}.size} Resolved Errors
#{errors.size} Errors
%table.table.table-condensed
  %thead
    %tr
      %th
        ListingId
      %th
        Number of Errors
      %th
        Number of Successes
  %tbody
    -errors.each do |e|
      %tr
        %td
          .table-data
            %a{href: "/entries/#{group.name}/tag/#{e[:listing_id]}"}
              =e[:listing_id]
        %td
          .table-data
            =e[:errors]
        %td
          .table-data
            =e[:successes]

